<template name="admin_learningStatistics">
    <div class="content-header">
        <h1>
            {{_ "admin.learningStatistics"}}
            <small>{{_ "admin.view"}} {{_id}}</small>
        </h1>
    </div>
    <div class="content">
        <div class="template-chart">
            <div id="container" class="well well-sm sidebar-nav" style="min-width: 100%;
			max-width: 100%; min-height: 100%; max-height: 100%; margin: 0 auto">
                {{> graph}}
            </div>
        </div>
    </div>
</template>
