<template name="mainNavigationTopItemProfileItemOverview">
    <tr class="{{#if isActiveRoute
                     'profileOverview'}}active{{/if}}">
        <td><a class="dropdown-item"
               href="{{pathFor 'profileOverview'
                               _id=currentUser._id}}"><i
                class="fas fa-trophy"></i></a></td>
        <td><a class="dropdown-item"
               href="{{pathFor 'profileOverview'
                               _id=currentUser._id}}">{{_
                "profile.activity"}}</a></td>
    </tr>
</template>
