<template name="filterIndexItemBottomLeaveWorkload">
    <a class="resultNavigationElement deleteLearned" {{disableIfOffline}}
       title='{{_ "confirm-form-learn.title"}}' data-toggle="modal" data-target="#bonusFormModal"
       data-id="{{this._id}}">
        <i class="fas fa-sign-out-alt" data-id="{{this._id}}"></i>
    </a>
</template>
